$line-blue: #f4f9ff;
$back-blue: #ebf4fe;
$blue: #2a84fe;
$white: #ffffff;
$gray: #d1d5e6;
$text-gray: #808abf;
$back-green: #ddf6eb;
$line-green: #bcedd8;
$green: #1dc27b;
$red: #ff5b5b;
$yellow: #1dc27b;
$text-black: #222540;
