@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

* {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
}

@import '../styles/colors.scss';
@import '../styles/typography.scss';
