@import '../styles/colors.scss';

.link {
	border-radius: 50%;
	background-color: $line-blue;
	padding: 12px;
}

.icon {
	width: 18px;
	height: 18px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 6px 16px;
	height: 58px;
	box-sizing: border-box;
}
